<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <label for="name">Course Name</label>
        <input required minlength="5" ngModel name="name" #name="ngModel" type="text" id="name" class="form-control">
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
            <div *ngIf="name.errors.required">
                Course Name is Required
            </div>
            <div *ngIf="name.errors.minlength">
                Course Name must have minimum {{name.errors.minlength.requiredLength}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="categories">Category</label>
        <select required ngModel #category="ngModel" name="categories" id="categories" class="form-control">
            <option value=""></option>
            <option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
            </option>
        </select>
        <div *ngIf="category.touched && category.invalid " class="alert alert-danger">
            <div *ngIf="category.errors.required">
                Please select a category
            </div>
        </div>
    </div>  
    <div class="checkbox">
        <label for="moneyBackGuarantee">
            <input ngModel name="moneyBackGuarantee" type="checkbox" id="moneyBackGuarantee">
            Do you want money back guarantee
        </label>
    </div>
    <p>
            {{form.value | json}}
    </p>
    <button class="btn btn-primary" [disabled]="form.invalid">Create</button>
</form>
