<!--  Built in pipe examples  -->
{{Test.title | uppercase }}<br/>
<!-- using multiple pipes in one -->
{{Test.title | uppercase | lowercase}}<br/>
<!-- decimal (number) pipe  -->
{{Test.commaExample | number}}<br/>
<!-- decimal (number) with more comtrol pipe
1.2-2 ==> min two decimals and max 3 decimals
if 2.3-4 ==> the eg 04.555
-->
{{Test.rating | number:'1.2-3'}}<br/>
<!--  currency pipe multiple arg :'CAD':true ==> true means symbol
Shown
--> 
{{Test.price | currency:'CAD':true:'3.2-2'}}<br/>
<!-- Date pipe 
To see all formats ==> angular.io search datepipe
-->
{{Test.date | date:'shortDate'}}<br/>

